<% if @participant.errors.size > 0 %>
$("<div><%=@participant.errors.full_messages[0]%></div>").insertBefore($('#participant_list').children().first())
.delay( 4000 ).fadeOut({done:function(){this.remove()}})
<% else %>
$('#participant_list').children().last().before("<%= j render partial: 'episodes/participant', format: 'js',
    :locals=>{
        :current_user=>current_user,
        :participant=>@participant
        }  %>")
<% end %>

