

<ul class="menu vertical participants" id="participant_list">
  <li class="header">This Episode's Geeks</li>
  <%= render :partial => 'participant',
            :collection => participants,
            :locals => {:current_user=>current_user} %>
  <%= render :partial => 'participant_form',
            :locals => {:episode => episode, :current_user => current_user} if current_user.present?%>
</ul>
