

<ul class="nav nav-list">
  <li class="nav-header">This Episode's Geeks</li>
	<% participants.each do |participant| %>
	  <li> <%= link_to "#{participant.user.display_name} (#{participant.role})" , user_path(participant.user) %>	 </li>
	<% end %>
</ul>