<%if @episode.episode_audios.length > 0 %>
  <!--% content_for :sticky do  %-->
  <div class="row">
<div  class="columns small-12 medium-5 large-4 middle" data-sticky-container>
  <div  class="sticky" data-sticky data-margin-top="0">
 	<audio controls>
	  <source src="<%=h @episode.episode_audios[0].audio.url%>" type="audio/mp3">
	</audio>
  </div>
</div>
<div id="sharesheet" class="columns small-12  medium-7 large-8 middle">
	<ul>
		<li><a href="https://podcasts.apple.com/podcast/id74173088" target="_blank"><svg viewBox="0 0 36 36"
					xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="a">
							<stop stop-color="#F452FF" offset="0%"></stop>
							<stop stop-color="#832BC1" offset="100%"></stop>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path
							d="M35.288 31.203c-.35.889-1.158 2.14-2.303 3.022-.66.509-1.45.996-2.534 1.317-1.156.342-2.58.458-4.351.458H9.9c-1.772 0-3.195-.116-4.35-.458-1.085-.321-1.874-.808-2.535-1.317-1.145-.882-1.953-2.133-2.303-3.022C.007 29.412 0 27.38 0 26.1V9.9c0-1.28.007-3.312.712-5.103.35-.889 1.157-2.14 2.303-3.022.66-.509 1.45-.996 2.534-1.317C6.705.116 8.13 0 9.9 0h16.2c1.772 0 3.195.116 4.35.458 1.085.321 1.874.808 2.535 1.317 1.145.882 1.953 2.133 2.303 3.022C35.993 6.588 36 8.62 36 9.9v16.2c0 1.28-.007 3.312-.712 5.103z"
							fill="#832BC1"></path>
						<path
							d="M35.288 31.203c-.35.889-1.158 2.14-2.303 3.022-.66.509-1.45.996-2.534 1.317-1.156.342-2.58.458-4.351.458H9.9c-1.772 0-3.195-.116-4.35-.458-1.085-.321-1.874-.808-2.535-1.317-1.145-.882-1.953-2.133-2.303-3.022C.007 29.412 0 27.38 0 26.1V9.9c0-1.28.007-3.312.712-5.103.35-.889 1.157-2.14 2.303-3.022.66-.509 1.45-.996 2.534-1.317C6.705.116 8.13 0 9.9 0h16.2c1.772 0 3.195.116 4.35.458 1.085.321 1.874.808 2.535 1.317 1.145.882 1.953 2.133 2.303 3.022C35.993 6.588 36 8.62 36 9.9v16.2c0 1.28-.007 3.312-.712 5.103z"
							fill="url(#a)"></path>
						<path
							d="M35.288 31.203c-.35.889-1.158 2.14-2.303 3.022-.66.509-1.45.996-2.534 1.317-1.156.342-2.58.458-4.351.458H9.9c-1.772 0-3.195-.116-4.35-.458-1.085-.321-1.874-.808-2.535-1.317-1.145-.882-1.953-2.133-2.303-3.022C.007 29.412 0 27.38 0 26.1V9.9c0-1.28.007-3.312.712-5.103.35-.889 1.157-2.14 2.303-3.022.66-.509 1.45-.996 2.534-1.317C6.705.116 8.13 0 9.9 0h16.2c1.772 0 3.195.116 4.35.458 1.085.321 1.874.808 2.535 1.317 1.145.882 1.953 2.133 2.303 3.022C35.993 6.588 36 8.62 36 9.9v16.2c0 1.28-.007 3.312-.712 5.103z">
						</path>
						<path
							d="M20.82 20.31c-.553-.574-1.526-.942-2.674-.942s-2.121.368-2.675.941c-.289.3-.442.607-.49 1.044-.093.846-.04 1.575.06 2.74a61.98 61.98 0 0 0 .518 4.1c.17 1.074.307 1.653.433 2.068.203.672.964 1.26 2.154 1.26s1.95-.588 2.154-1.26c.125-.415.263-.994.433-2.068a61.98 61.98 0 0 0 .517-4.1c.101-1.165.154-1.894.06-2.74a1.653 1.653 0 0 0-.49-1.044zm-5.691-5.11c0 1.638 1.353 2.966 3.02 2.966 1.669 0 3.021-1.328 3.021-2.966 0-1.638-1.352-2.965-3.02-2.965s-3.02 1.327-3.02 2.965zm2.983-11.703c-7.064.02-12.852 5.647-12.94 12.582-.07 5.618 3.582 10.423 8.683 12.184.124.043.25-.058.23-.185a71.44 71.44 0 0 1-.188-1.306.44.44 0 0 0-.263-.345c-4.031-1.729-6.846-5.698-6.8-10.297.056-6.033 5.076-10.952 11.221-11 6.283-.05 11.41 4.954 11.41 11.111 0 4.552-2.802 8.473-6.802 10.189a.439.439 0 0 0-.262.345c-.058.43-.12.87-.188 1.305-.02.127.106.228.23.186 5.052-1.745 8.683-6.476 8.683-12.024 0-7.039-5.842-12.763-13.016-12.743zm-.234 5.846c4.004-.152 7.311 3.002 7.311 6.9a6.83 6.83 0 0 1-2.223 5.033.523.523 0 0 0-.169.415c.027.474.017.935-.015 1.455-.008.14.15.228.267.15 2.293-1.539 3.801-4.126 3.801-7.053 0-4.818-4.088-8.718-9.038-8.53-4.6.176-8.29 3.9-8.35 8.42-.038 2.972 1.48 5.605 3.802 7.163a.17.17 0 0 0 .265-.15c-.032-.52-.042-.98-.015-1.455a.523.523 0 0 0-.168-.414 6.827 6.827 0 0 1-2.221-5.219c.097-3.619 3.068-6.575 6.753-6.715z"
							fill="#FFF" fill-rule="nonzero"></path>
					</g>
				</svg> <span>Apple</span></a></li>
		<li><a href="https://open.spotify.com/show/1QSRfJWintPmrGZqgAUdpV" target="_blank"><svg viewBox="0 0 36 36"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M28.648 15.957c-5.803-3.445-15.373-3.762-20.912-2.081a1.683 1.683 0 1 1-.978-3.222c6.359-1.93 16.929-1.557 23.608 2.408a1.684 1.684 0 0 1-1.718 2.895zm-.19 5.104a1.404 1.404 0 0 1-1.93.462c-4.838-2.973-12.214-3.835-17.937-2.097a1.405 1.405 0 0 1-1.752-.935 1.405 1.405 0 0 1 .936-1.75c6.538-1.984 14.665-1.024 20.22 2.39.66.407.868 1.271.463 1.93zm-2.203 4.901a1.121 1.121 0 0 1-1.543.374C20.486 23.752 15.165 23.169 8.9 24.6a1.121 1.121 0 1 1-.5-2.187c6.857-1.567 12.738-.893 17.483 2.006.529.324.695 1.015.372 1.543zM18 0C8.06 0 0 8.059 0 18c0 9.942 8.06 18 18 18 9.941 0 18-8.058 18-18 0-9.941-8.059-18-18-18z"
						fill="#1ED760" fill-rule="evenodd"></path>
				</svg> <span>Spotify</span></a></li>
		<li><a href="https://overcast.fm/itunes74173088/geek-speak-with-lyle-troxell" target="_blank"
				class="listen-app"><svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M18 36C8.025 36 0 27.975 0 18S8.025 0 18 0s18 8.025 18 18-8.025 18-18 18zm0-7.125l1.35-1.35L18 22.35l-1.35 5.175 1.35 1.35zm-1.725-.075l-.675 2.55 1.575-1.575-.9-.975zm3.45 0l-.9.9 1.575 1.575-.675-2.475zM21 33.45l-3-3-3 3c.975.15 1.95.3 3 .3s2.025-.075 3-.3zm-3-31.2C9.3 2.25 2.25 9.3 2.25 18c0 6.9 4.425 12.75 10.575 14.85L16.2 20.325c-.75-.525-1.2-1.425-1.2-2.4 0-1.65 1.35-3 3-3s3 1.35 3 3c0 .975-.45 1.8-1.2 2.4l3.375 12.525A15.673 15.673 0 0 0 33.75 18C33.75 9.3 26.7 2.25 18 2.25zM28.275 25.8c-.375.45-1.05.6-1.575.225-.525-.375-.6-1.05-.225-1.5 0 0 2.025-2.7 2.025-6.525s-2.025-6.525-2.025-6.525c-.375-.45-.3-1.125.225-1.5s1.2-.225 1.575.225c.15.15 2.475 3.225 2.475 7.8 0 4.575-2.325 7.65-2.475 7.8zM22.8 22.875c-.45-.45-.375-1.275.075-1.725 0 0 1.125-1.2 1.125-3.15s-1.125-3.075-1.125-3.15c-.45-.45-.45-1.2-.075-1.725.45-.525 1.125-.525 1.575-.075.075.075 1.875 1.95 1.875 4.95s-1.8 4.875-1.875 4.95c-.45.45-1.125.375-1.575-.075zm-9.6 0c-.45.45-1.125.525-1.575.075C11.55 22.8 9.75 21 9.75 18s1.8-4.8 1.875-4.95c.45-.45 1.2-.45 1.575.075.45.45.375 1.275-.075 1.725 0 .075-1.125 1.2-1.125 3.15s1.125 3.15 1.125 3.15c.45.45.525 1.2.075 1.725zm-3.9 3.15c-.525.375-1.2.225-1.575-.225-.15-.15-2.475-3.225-2.475-7.8 0-4.575 2.325-7.65 2.475-7.8.375-.45 1.05-.6 1.575-.225.525.375.6 1.05.225 1.5 0 0-2.025 2.7-2.025 6.525s2.025 6.525 2.025 6.525c.375.45.225 1.125-.225 1.5z"
						fill="#FC7E0F" fill-rule="evenodd"></path>
				</svg> <span>Overcast</span></a></li>
		<li><a href="https://geekspeak.org/episodes/rss.xml" target="_blank"><svg viewBox="0 0 36 36"
					xmlns="http://www.w3.org/2000/svg">
					<g fill="none">
						<rect fill="orange" width="36" height="36" rx="1.5"></rect>
						<circle fill="#FFF" cx="8.791" cy="27.209" r="4.605"></circle>
						<path
							d="M4.186 17.79C11.816 17.79 18 23.695 18 30.978h4.605c0-9.71-8.247-17.582-18.419-17.582v4.396z"
							fill="#FFF"></path>
						<path
							d="M4.186 8.651a22.326 22.326 0 0 1 22.326 22.326h4.465c0-14.796-11.995-26.791-26.791-26.791v4.465z"
							fill="#FFF"></path>
					</g>
				</svg> <span>RSS Feed</span></a></li>
	</ul>
</div></div>
<% end %>