<% title "Segment" %>

<p>
  <strong>Title:</strong>
  <%= @segment.title %>
</p>
<p>
  <strong>Show:</strong>
  <%= @segment.show_id %>
</p>
<p>
  <strong>Position:</strong>
  <%= @segment.position %>
</p>

<p>
  <%= link_to "View All", segments_path %>
</p>
