<div>

<h2>Our email is Geeks at our domain</h2>

<p>Please email us at <a href="http://www.google.com/recaptcha/mailhide/d?k=01YdEvn4oSlubup3cEs4xohg==&amp;c=AFOmLK7ON0buvMfNqTVZCXrpIuXPNL82-m-eQ2OTQeI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501YdEvn4oSlubup3cEs4xohg\75\75\46c\75AFOmLK7ON0buvMfNqTVZCXrpIuXPNL82-m-eQ2OTQeI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">gee...@geekspeak.org</a>  - and remember to have a good subject line. Most of us read every email.</p>

<p>Our email is simply "Geeks" and then you use an @ symbol, and then our domain name, which is "geekspeak.org". The link above opens a reCaptcha thing to make sure that spam-bots do not collect our email addresses.</p>

</div>