<%- content_for :title do -%>
  Support GS
<%- end -%>

<div>

<h2>Supporting GeekSpeak</h2>
<a href="http://pix.lyle.troxell.com/People/GeekSpeak/i-F2fKQHw"><img style="float:left;margin-right:10px;" src="http://pix.lyle.troxell.com/People/GeekSpeak/i-F2fKQHw/0/Th/2004-09-29_056-Th.jpg" alt="Miles and Lyle at a Hosting Facility in San Jose"></a>
<p>We support <a href="http://www.kusp.org">KUSP</a>, our birth place, and you can to by visting <a href="http://www.kusp.org">www.KUSP.org</a> and clicking on "Support."</p>

<p>We now produce GeekSpeak independently. Though we are 100% volunteer, we encure hosting/bandwidth costs. We host this site at: </p>
<ul><li><a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocean</a>. If you need hosting services then please use our <a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocian Referral Link</a>. You will get $10 off, and we will get $25 to cover our hosting costs.</li></ul>

<h2>Re-broadcast GeekSpeak</h2>
<p>If you are working on traditional radio and feel GeekSpeak might be a fit for your audiance, please do <a href="/contact">contact us</a> to see if we might be able to work toether.</p>
<p>Our show is Creative Commons, so you can re-use our stuff any way you like as long as you give us attribution. But working together we might be able to fit into your schedule even better.</p>

<h2>Spreading the Word</h2>
<p>Please feel free to rate us on your podcasting service of choice - going to the <a href="https://itunes.apple.com/us/podcast/geekspeak/id74173088">iTunes GeekSpeak Page</a> and rating us favorably is always nice. BTW: Non-favorable feedback is welcomed via <a href="/contact">email</a> :-)</p>
</div>