<%- content_for :title do -%>
  Support GS
<%- end -%>

<div>

<h2>Supporting GeekSpeak through Patreon</h2>
<br>
<a href="http://pix.lyle.troxell.com/People/GeekSpeak/i-F2fKQHw"><img style="float:left;margin-right:10px;" src="http://pix.lyle.troxell.com/People/GeekSpeak/i-F2fKQHw/0/Th/2004-09-29_056-Th.jpg" alt="Miles and Lyle at a Hosting Facility in San Jose"></a>
<br>
<p style="font-size: large;">Please visit our <a href="https://www.patreon.com/GeekSpeak">GeekSpeak Patreon Page</a>.</p>
<div class="supporters">A giant thank you to our Current Supporters:
<ul style="padding-left:200px;display: list">
<li>Chris Irwin</li>
<li>John Winston</li>
<li>Jonas Rullo</li>
<li>Bradley Bittorf</li>
<li>Geoffrey Cook</li>
<li>Double Bizzy</li>
</ul>
</div>
<br clear="all"/>
<hr>
<p>We started off at <a href="http://www.kusp.org">KUSP</a> in 1998, but recently KUSP has been strugling to stay open. We now produce GeekSpeak independently and could use your help to keep making our show.</p>

<p>If you are in the lookout for a good hosting company, we host at:
<ul><li><a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocean</a>. If you need hosting services then please use our <a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocian Referral Link</a>. You will get $10 off, and we will get $25 to cover our hosting costs.</li></ul>

<h2>Re-broadcast GeekSpeak</h2>
<p>If you are working on traditional radio and feel GeekSpeak might be a fit for your audience, please do <a href="/contact">contact us</a> to see if we might be able to work together.</p>
<p>Our show is Creative Commons, so you can re-use our stuff any way you like as long as you give us attribution. But working together we might be able to fit into your schedule even better.</p>

<h2>Spreading the Word</h2>
<p>Please feel free to rate us on your podcasting service of choice - going to the <a href="https://itunes.apple.com/us/podcast/geekspeak/id74173088">iTunes GeekSpeak Page</a> and rating us favorably is always nice. If you think we should do something differently please <a href="/contact">email us</a>.</p>

<h2>Advertising on GeekSpeak</h2>
<p>We are looking for advertisers that we feel comforatable supporting. If you are interested please <a href="/contact">email us</a>.</p>
</div>