<div>

<h2>Supporting GeekSpeak</h2>

<p>We started as a radio program at <a href="http://www.kusp.org">KUSP</a> and supporting KUSP is something we can deffinelty support. So please feel free to support <a href="http://www.kusp.org">KUSP</a> by visting <a href="http://www.kusp.org">www.KUSP.org</a> and clicking on "Support."</p>

<p>We now produce GeekSpeak independently. Though we are 100% volunteer, we encure hosting/bandwidth costs. We host this site at: </p>
<ul><li><a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocean</a>. If you need servelt hosting then please use our <a href="https://www.digitalocean.com/?refcode=d93b2b9fa332">Digital Ocian Referral Link</a>. You will get $10 off, and we will get $25 to cover our hosting costs.</li></ul>

<h2>Re-broadcast GeekSpeak</h2>
<p>If you are working on traditional radio and feel GeekSpeak might be a fit for your audiance, please do <a href="/contact">contact us</a> to see if we might be able to work toether.</p>
<p>Our show is Creative Commons, so you can re-use our stuff any way you like as long as you give us attribution. But working together we might be able to fit into your schedule even better.</p>

<h2>Spreading the Word</h2>
<p>Please feel free to rate us on your podcasting service of choice - going to the iTunes store and rating us favorabily is always nice. (Non-favorable feedback is welcomed via <a href="/contact">email</a>!)</p>
</div>