<div>
	<ul>
		
		<% for episode_image in @episode_images %>
			<li><%= image_tag episode_image.image.url(:small) %>
			    <%= link_to 'Destroy',  episode_image_path(episode_image),  method: :delete, data: { confirm: 'Are you sure?'}, :class=>"button alert" %>
		<% end %>
		
	</ul>
	
	<%= link_to "Upload Image", new_episode_episode_image_path(@episode) if :user_signed_in? %>
</div>