<h3>Textile Formating</h3>
<pre>
"GeekSpeak":http://geekspeak.org.

!http://example.com/photo.jpeg(the alt text)!

bq. Blockquotes - for words that are not yours
(Add 2 spaces to the beginning of continual lines)

_italics_,  *bold*, and
&lt;code&gt;code()&lt;/code&gt;.

trademark(TM), reserved(R)
copyright(C), ellipses ...
superscripts^2, subscripts~2
TLA(Three Letter Acronym)

* Bullet lists are easy too
* Another one
* Another one

# A numbered list
# Which is numbered
# With periods and a space

Lists with Lists: 

* Bullet one
* Bullet two
## Step 1
## Step 2
## Step 3
* Bullet three
** Sub Bullet 1
** Sub Bullet 2

On Episode pages you can upload images
If you upload IMG_5317.JPG you can do...
!//geekspeak.org/episodes/2014/05/31/IMG_5317-original.JPG!
(medium, small, smaller, thumb)
Make sure you 


This is a paragraph, which is text surrounded by whitespace. Paragraphs can be on one line (or many), and can drone on for hours.  "Quotes" and 'quotes' are handled nicely--as are dashes and such.

h3. Header 3
h4. Header 4
h5. Header 5

And now some code:

&lt;pre&gt;
  // Code requires HTML PRE blocks
  which(is_easy, enough) to_remember();
&lt;/pre&gt;

Don't use this table thing unless you must
|_.Col 1|_.Col 2|_.Col 3|
|a|table|row|
|a|table|row|
</pre>
