
<div id="bits_from_search_wrapper" class="well">
  <div id="bits_from_search" >
  <%= render :partial => 'bits/bits', :locals=> {:bits => bits, :display_episode => true, :episode => episode || nil} %>
</div></div>
