<h1>Bits</h1>


<%= link_to 'New', new_bit_path, :class => 'btn btn-primary' if user_signed_in? %>

<%= render :partial => 'bits', :locals=> {:bits => @bits, :display_episode => true } %>





<%= will_paginate @bits %>
