// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

#episodes .status {
	
	text-transform:none;
	color:black;
	background:none;
	font-size:1em;
}

#episodes.index_table tr.even td.status {
background: #F4F5F5;
}

form .has_many  .has_many {
	margin-left:4em;
}


form .has_many h3 {
	margin-top:1em;
}


body.active_admin table div.assigned a {
  color: #555;
}