@import "twitter/bootstrap/bootstrap";


@navbarBackground:                #999;
@navbarBackgroundHighlight:       #eee;


body {background-image: url(/assets/subtle_zebra_3d.png);}

@import "twitter/bootstrap/responsive";
@iconSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings.png');
@iconWhiteSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings-white.png');


#logo {
	position:relative;
  margin: -80px 10px 0px;
	z-index:1040;
}

select {
width: initial;}

.image.episode {
	float:left;
	padding-right:10px;
	
}


.abstractimage {
	float: left;
	margin-right: 20px;}



footer {
	padding-left:  20px;
	padding-right: 20px;
	#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
	.border-radius(4px);
	@shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	.box-shadow(@shadow);
	color: @white;
}

h1.main_title {
	display:none;
}

.metadata {
	margin-left:2em;
	font-size: smaller;
}
	
h3.segment.title {display:none;}


.airdate {
	color: @grayLight;
	}
	
	#bit_editor #bits .bit .metadata, #bits .bit p {
		display:none;
	}