@import "foundation_and_overrides";
@import 'util/mixins';
@import "header";
@import "footer";
@import "episode";
@import "plyr";

.plyr {
  border-radius: 4px;
  width:100%;
}

.season-episode {
    opacity: 0.5;
    font-size: 10px;
    padding: 0px 4px;
}

.episode-block {
    margin-top:30px;
    a.filler-image {
        opacity: .5;
    }
    a:hover.filler-image {
        opacity: 1;
    }
    &:hover{
        background-color:#EEE;
    }
    cursor: pointer;
    &.active {
        transform: perspective(500px) translateZ(-2px);
    }
}
.menu.vertical {
    .header {
        font-weight: bold;
    }
    .child {
        &>a::after {
            content: " / ....";
        }
    }
}
.menu.vertical.participants {
    a {
        display: inline;
        padding: 0;
    }
    .role {
        font-size: 10px;
        opacity: .5;
    }
}

@media screen and (min-width: 40em){
    h1{
        font-size: 2rem;
    }
}
button.sort-bits {
    display: none;
}
body.admin {
    button.sort-bits {
        display:block;
        float: right;
    }
    .tools {
        .bit-edit {
            margin: 0 30px;
        }
        .bit-delete:hover {
            color: map-get($foundation-palette, alert);
        }
    }
    .minimize {
        .bit h4 {
            text-indent: -1.2em;
            margin-left: 1em;
        }
        .bitsort {
            display: block;
            width:1em;
            @include hamburger($dark-gray, $light-gray, 1em, 20px, 2px, 3);
            margin-bottom: 4px;
        }
        .tools {
            display:inline;
             .bit-edit, .bit-delete {
                display:none;
            }
        }
        .bit-body {
            display:none;
        }
    }
}
.menu > li > a.edit {
    display: inline;
    padding:0;
}
#bits_from_search_wrapper {
    border: 1px dashed #999;
    border-left: 0;
    #bits_from_search {
        .bit {
            border-bottom: 1px dashed #999;
            .tools {
                margin-left: -10px;
                margin-right: 4px;
            }
            .title {
                margin:0 .5em;
            }
        }
        .bit:last-child {
            border-bottom:none;
        }
    }

}
.small-note {
    font-size: 9px;
}


textarea {
    height: 10em;
}
#gutter {
    .sticky {
        padding-bottom:30px;
    }
    pre {
        font-size: 10px;
        white-space: pre-wrap;
    }
}

.airdate select,
.publishdate select,
select#episode_status,
select#bit_user_id,
#new_participant select {
    width: initial;
}